{% if sentry -%}
import {
	sentryGlobalFunctionMiddleware,
	sentryGlobalRequestMiddleware,
} from '@sentry/tanstackstart-react'
{% endif -%}
import { createCsrfMiddleware, createStart } from '@tanstack/react-start'

const csrfMiddleware = createCsrfMiddleware({
	filter: (ctx) => ctx.handlerType === 'serverFn',
})
{% if sentry -%}
export const startInstance = createStart(() => ({
	requestMiddleware: [sentryGlobalRequestMiddleware, csrfMiddleware],
	functionMiddleware: [sentryGlobalFunctionMiddleware],
}))
{% else -%}
export const startInstance = createStart(() => ({
	requestMiddleware: [csrfMiddleware],
}))
{% endif %}